<section id="team" class="our_team_area">
	<div class="container">
		<div class="about-team wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
		<h2 class="text-center">{{content.field_title.0}}</h2>
		</div>
		<div class="row team_row">
			{{content.field_team_members}}
		</div>
	</div>
</section>			