<div class=" py-70 bg-about-img">
   <div class="container">
      <div class="row">
         <div class="col-md-7 ">
            <div class="title-lefts wow fadeInUp">
               <h2>{{content.field_title.0}}</h2>           
             <p class="about-bottom-s wow fadeInUp">{{content.field_body.0}}</p>
            </div>
         </div>
         <div class="col-md-5  back-shap">
            <div class="all-text">
               <h2 class="shap_top"> {{content.field_sub_title.0}} </h2>
               <p class="shap_bottom wow fadeInUp">{{content.field_description.0}}</p>
            </div>
         </div>
      </div>
   </div>
</div>