<div class="bg-grediunt">
<div class="our_partners_area py-70 pt_banner_30">
    <div class="container">
        <div class="partners wow fadeInUp">
        	{{content.field_client_logo}}
        </div>
    </div>
</div>      
</div>  	