<div class="item">
   <div class="media">
      <div class="media-left">
         <a href="#">
         <img class="media-object" src="{{fields.field_image.content}}" alt="">
         </a>
      </div>
   </div>
   <p>{{fields.body.content}}</p>
   <div class="media-body text-center">
      <h4 class="body-slider media-heading">{{fields.title.content}}</h4>
      <div class="img-s ">
         <img src="{{fields.field_user_picture.content}}">
      </div>
   </div>
</div>